{% extends "parts/base.html" %}

{% block content %}
	<div class="container main-content d-flex justify-content-center align-items-center">
		<form method="post">
		  	{% csrf_token %}
		  	<h1 class="h3 text-center">Подтверждение смены пароля</h1>

			{% for field in form %}
				{% if field.errors %}
					<small class="alert alert-danger">{{ field.errors|striptags  }}</small>
				{% endif %}
			{% endfor %}

			<div class="mb-3">
				<label for="id_new_password1" class="form-label">Логин</label>
				<input type="text" class="form-control form-control-lg border-left-0" id="id_new_password1" name="new_password1">
			</div>
			<div class="mb-3">
				<label for="id_new_password2" class="form-label">Пароль</label>
				<input type="text" class="form-control form-control-lg border-left-0" id="id_new_password2" name="new_password2">
			</div>
			<div class="text-center">
				<button type="submit" class="btn btn-primary">Сбросить пароль</button>
			</div>
		</form>
	</div>
{% endblock content %}