{% extends "parts/base.html" %}

{% block content %}
<div class="container main-content d-flex justify-content-center align-items-center">
	<form method="post">
		{% csrf_token %}
	    <h1 class="h3 text-center mb-4">Сбросить пароль</h1>
		{% for field in form %}
			{% if field.errors %}
				<small class="alert alert-danger">{{ field.errors|striptags  }}</small>
			{% endif %}
		{% endfor %}
		<div class="mb-3">
			<label for="id_email" class="form-label">Адрес электронной почты</label>
			<input type="email" class="form-control form-control-lg border-left-0" id="id_email" name="email">
		</div>
		<div class="text-center">
			<input type="submit" value="Отправить" class="btn btn-secondary">
		</div>
	</form>
</div>
{% endblock content %}